
{% extends 'bar/base.html' %}
{% block content %}
<h2>Nuovo Ordine</h2>
<form method="post">{% csrf_token %}
<table class="table">
    <tr><th>Prodotto</th><th>Prezzo</th><th>Quantità</th></tr>
    {% for p in prodotti %}
    <tr>
        <td>{{ p.name }}</td>
        <td>€{{ p.price }}</td>
        <td><input type="number" name="qty_{{ p.id }}" min="0" value="0" class="form-control" style="width: 80px;"></td>
    </tr>
    {% endfor %}
</table>
<button type="submit" class="btn btn-success">Invia Ordine</button>
</form>
{% endblock %}
