{% extends 'bar/base_no_menu.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 400px;">
  <h2 class="text-center mb-4">Login</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="form-floating mb-3">
      <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="Username" required>
      <label for="floatingUsername">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>
    <button type="submit" class="btn btn-primary w-100">Accedi</button>
  </form>
</div>
{% endblock %}