{% extends 'bar/base.html' %}

{% block content %}
  <h2>Elenco Prodotti</h2>
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show w-100 rounded-0 m-0" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi"></button>
    </div>
  {% endfor %}
{% endif %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Prezzo</th>
          <th>Categoria</th>
          <th>Sottocategoria</th>
          <th>Distinta base</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        {% for prodotto in prodotti %}
          <tr>
            <td>{{ prodotto.nome }}</td>
            <td>€{{ prodotto.prezzo }}</td>
            <td>
              {% if prodotto.categoria %}
                {{ prodotto.categoria.valore }}
              {% else %}
                Senza categoria
              {% endif %}
            </td>
            <td>
              {% if prodotto.sottocategoria %}
                {{ prodotto.sottocategoria.valore }}
              {% else %}
                Senza sottocategoria
              {% endif %}
            </td>
            <td>
              {% if prodotto.componenti_magazzino.all %}
                <ul class="mb-0 ps-3 small">
                  {% for comp in prodotto.componentemagazzino_set.all %}
                    <li>
                      {{comp.rapr_per_anagrafica}}
                      {% if comp.bloccante %} <strong>(bloccante)</strong>{% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <em>Nessuna</em>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'modifica_prodotto' prodotto.pk %}" class="btn btn-primary btn-sm">Modifica</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}